.raralogo{
    width: 250px;
}

.borderr3{
    border-radius: 5px;
}

.borderr2{
    border-radius: 10px;
}
.borderr1{
    border-radius: 15px;
}

.loginbg{
    background-image: url("http://localhost/rarabakeryview/assets/img/loginbg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80vh;
    /* background-color: #000; */
}

.logincontainer{
    height: 100vh !important;
}